body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d0217;
    color: #e6e2e2e7;
}

header {
    color: #e6e2e2e7;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3.2em;
}

header p {
    margin: 5px 0 10px;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

section {
    height: 100vh;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #41364a;
}

h2 {
    border-bottom: 2px solid #43b0af;
    padding-bottom: 10px;
    color: #43b0af;
    font-size: 1.8em;
}

h3{
    color: #18a3b7;
    font-size: 1.5em;
}

#skill_container{
    display: flex;
    column-gap: 70px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.skill{
    display: flex;
    padding: 50px 0;
}

.circular_progress{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: conic-gradient(#ededed 0deg, #ededed 360deg);
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circular_progress::before{
    content: "";
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: #0d0217;
}

.progress_value{
    position: relative;
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 105px;
}

.text{
    position: relative;
    padding-top: 60px;
    font-size: 1.3em;
    font-weight: 500;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    margin: 0;
}

.project p {
    margin: 5px 0 10px;
}

.project a {
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 5px;
}

.project a:hover {
    background-color: #333;
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px;
    color: #fff;
}
